<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy YD - Spring Retreat</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="quote">
        <h2>{{ .User.NickName }} / {{ .User.RealName }}</h2>
            {{ range $questionID, $answers := .Answers }}
                <h3>{{(index $.Questions $questionID).QtextKorean}}
                    ( {{(index $.Questions $questionID).QtextEnglish}} )
                </h2>
                <ul>
                    {{ range $answer := $answers }}
                        <li>{{$answer}}</li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
    </main>
    <footer>
        <p>행복한 우리</p>
        <p>Chicago Bethel Presbyterian Church</p>
    </footer>
</body>
</html>
