<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy YD - Spring Retreat</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
</head>
<body>
    <h1>{{ .User.NickName }}</h1>
    <div class="quote">
        <table style="width: 100%; font-size: 1.1em;">
            <thead >
                <tr>
                    <th style="padding: 12px 15px;"></th>
                    <th><b>Nickname</b></th>
                    <th><b>나의 시선</b></th>
                </tr>
            </thead>
            <tbody>
                {{ range $guessID, $userInfo := .Users }}
                    <tr>
                        <td>{{ $guessID }}</td>
                        <td><a href="/user/{{ $.UserID }}/guess/{{ $guessID }}" style="text-decoration: none; font-weight: bold;">{{ (index $.Users $guessID).NickName }}</a></td>
                        <td> {{ (index $.Guesses $guessID) }}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    <form action="/user/{{ .UserID }}/grade-guesses">
        <button type="submit" name="action" value="submit" class="heartButton">Submit</button>
    </form>
</body>
</html>
