<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy YD - Spring Retreat</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
</head>
<body>
    <h1> {{.User.NickName}} </h1>
    <div class="quote">
        <table style="width: 100%; font-size: 1.1em;">
            <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Answer</th>
                    <th>My Guess</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range $userId, $userInfo := .Users }}
                <tr>
                    <td> <a href="/user/{{$userInfo.UserID}}/answer"> {{ $userInfo.NickName }} </a> </td>
                    <td> {{ $userInfo.RealName }} </td>
                    <td> {{ (index $.Guesses $userId) }}</td>
                    <td>
                        {{if eq $userInfo.RealName (index $.Guesses $userId) }}
                        O
                        {{else}}
                        X
                        {{end}}
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <button onclick="window.location.href='/goodbye';" class="heartButton">Thanks!</button>
</body>
</html>
