<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy YD - Spring Retreat</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="quote">
        <h2>{{ .GuessID }}. {{ .NickName }}</h2>
            {{ range $questionID, $answers := .User.Answers }}
                <h4>{{(index $.Questions $questionID).QtextKorean}}
                    ( {{(index $.Questions $questionID).QtextEnglish}} )
                </h4>
                <ul>
                    {{ range $answer := $answers }}
                        <li>{{$answer}}</li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
        <form action="/submit-guess" method="POST">
            <select class="heartButton" name="selectedname">
                <option value="{{ .Guess }}"> {{ .Guess }} </option>
                {{ range $id, $realname := .RealNames }}
                    <option value="{{ $realname }}">{{ $realname }}</option>
                {{ end }}
            </select>
            <button onclick="submit" name="action" value="submit" class="heartButton">My Guesses</button>
            <br>
            <br>
            {{if eq .GuessID (len .RealNames)}}
            <button onclick="submit" name="action" value="prev" class="heartButton">Prev</button>
            {{ else if eq .GuessID 1 }}
            <button onclick="submit" name="action" value="next" class="heartButton">Next</button>
            {{ else if lt .GuessID (len .RealNames) }}
            <button onclick="submit" name="action" value="prev" class="heartButton">Prev</button>
            <button onclick="submit" name="action" value="next" class="heartButton">Next</button>
            {{end}}
            <input type="hidden" name="userid" value="{{ .UserID }}">
            <input type="hidden" name="guessid" value="{{ .GuessID }}">
        </form>
    </main>
    <footer>
        <p>행복한 우리</p>
        <p>Chicago Bethel Presbyterian Church</p>
    </footer>
</body>
</html>
