<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy YD - Spring Retreat</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
</head>
<body>
    <header></header>
    <main>
        <form action="/submit-answers" method="POST">
            <h1>{{ .QtextKorean }}</h1>
            <h2>{{ .QtextEnglish }}</h2>
            {{if eq .Atype "short"}}
                {{range $idx, $val := .Answers}}
                <input type="text" name="answer{{ $idx }}" value="{{ $val }}"><br>
                {{end}}
            {{else if eq .Atype "long"}}
                {{range $idx, $val := .Answers}}
<textarea rows="10" cols="50" name="answer{{ $idx }}">
{{ $val }}
</textarea><br>
                {{end}}
            {{end}}
            {{if eq .QuestionID 1}}
                <button type="submit" name="action" value="next" class="heartButton">Next</button>
            {{else if eq .QuestionID 10}}
                <button type="submit" name="action" value="previous" class="heartButton">Prev</button>
                <button type="submit" name="action" value="submit" class="heartButton">Submit</button> 
            {{else}}
                <button type="submit" name="action" value="previous" class="heartButton">Prev</button>
                <button type="submit" name="action" value="next" class="heartButton">Next</button> 
            {{end}}
            <input type="hidden" name="userID" value="{{ .UserID }}">
            <input type="hidden" name="questionID" value="{{ .QuestionID }}">
        </form>
    </main>
    <footer>
        <p>Happy YD</p>
        <p>Chicago Bethel Presbyterian Church</p>
    </footer>
</body>
</html>
