<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy YD - Spring Retreat</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Thank you,</h1>
        <p style="font-size: 2.0em;"> {{ .NickName }} </p>
    </header>
    <main>
        <button onclick="window.location.href='/user/{{ .UserID }}/guess/1';" class="heartButton">내가 보는 너</button>
        <div class="quote" language="korean"> 
            <p>요한일서 2장 9~11절 <button onclick="toggleLanguage()" class="">Switch Language</button> </p>
            <p>9. 빛 가운데 있다 하면서 그 형제를 미워하는 자는 지금까지 어둠에 있는 자요</p>
            <p>10. 그의 형제를 사랑하는 자는 빛 가운데 거하여 자기 속에 거리낌이 없으나</p>
            <p>11. 그의 형제를 미워하는 자는 어둠에 있고 또 어둠에 행하며 갈 곳을 알지 못하나니 이는 그 어둠이 그의 눈을 멀게 하였음이라</p>
        </div>
        <div class="quote" language="korean">
            <p>마태복음 7장 1~2절</p>
            <p>1. 비판을 받지 아니하려거든 비판하지 말라</p>
            <p>2. 너희가 비판하는 그 비판으로 너희가 비판을 받을 것이요 너희가 헤아리는 그 헤아림으로 너희가 헤아림을 받을 것이니라</p>
        </div>
        <div class="quote" language="korean">
            <p>아모스 8장 11~13절 </p>
            <p>11. 주 여호와의 말씀이니라 보라 날이 이를지라 내가 기근을 땅에 보내리니 양식이 없어 주림이 아니며 물이 없어 갈함이 아니요 여호와의 말씀을 듣지 못한 기갈이라 </p>
            <p>12. 사람이 이 바다에서 저 바다까지, 북쪽에서 동쪽까지 비틀거리며 여호와의 말씀을 구하려고 돌아다녀도 얻지 못하리니</p>
            <p>13. 그 날에 아름다운 처녀와 젊은 남자가 다 갈하여 쓰러지리라</p>
        </div>

        <div class="quote" language="english" style="display:none;">
            <p>1 John 2:9~11  <button onclick="toggleLanguage()" class="">Switch Language</button></p>
            <p>9. Whoever says he is in the light and hates his brother is still in darkness.</p>
            <p>10. Whoever loves his brother abides in the light, and in him there is no cause for stumbling.</p>
            <p>11. But whoever hates his brother is in the darkness and walks in the darkness, and does not know where he is going, because the darkness has blinded his eyes.</p>
        </div>
        <div class="quote" language="english" style="display:none;">
            <p>Matthew 7:1~2</p>
            <p>1. Judge not, that you be not judged</p>
            <p>2. for with the judgment you pronounce you will be judged, and with the measure you use it will be measured to you. </p>
        </div>
        <div class="quote" language="english" style="display:none;">
            <p>Amos 8:11~13</p>
            <p>11. “Behold, the days are coming,” declares the Lord God, “when I will send a famine on the land - 
                not a famine of bread, nor a thirst for water, but of hearing the words of the Lord. </p>
            <p>12. People will stagger from sea to sea
                and wander from north to east,
            searching for the word of the Lord,
                but they will not find it.</p>
            <p>13. “In that day“ the lovely young women and strong young men
                    will faint because of thirst.</p>
        </div>
    </main>
    <footer>
        <p class="korean">행복한 우리</p>
        <p class="english" style="display:none;">Happy YD</p>
        <p>Chicago Bethel Presbyterian Church</p> 
    </footer>
    <script>
        let isKorean = true; 
        function toggleLanguage() {
            const quotes = document.querySelectorAll('.quote');
            quotes.forEach(quote => {
                if (quote.getAttribute('language') === (isKorean ? 'korean' : 'english')) {
                    quote.style.display = 'none';
                } else {
                    quote.style.display = 'block';
                }
            });
            const koreanTexts = document.querySelectorAll('.korean');
            const englishTexts = document.querySelectorAll('.english');
            koreanTexts.forEach(text => text.style.display = isKorean ? 'none' : 'block');
            englishTexts.forEach(text => text.style.display = isKorean ? 'block' : 'none');
            isKorean = !isKorean;
        }
    </script>
</body>
</html>
