<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy YD - Spring Retreat</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>내가 보는 나</h1>
    </header>
    <br>
    <main>
        <div>
            <p style="font-size: 2em;"><b>{{ .UserAnimal }}</b></p>
        </div>
        <p style="font-size: 1.6em;">이름을 입력하세요</p>
    </main>
    <form action="/submit-name" method="POST">
        <input type="text" name="realname"><br>
        <input type="hidden" name="useranimal" value="{{ .UserAnimal }}">
        <button type="submit" name="action" value="next" class="heartButton">다음</button> 
    </form>

    <footer>
        <br>
        <p>Happy YD</p>
        <p>04.26 FRI - 27 SAT</p>
        <p>Chicago Bethel Presbyterian Church</p>
        <p>Assistant Pastor Sungbum Yi</p>
    </footer>
</body>
</html>
