/* Base styles with responsive design and accessibility improvements */
body {
    font-family: 'Hi Melody', sans-serif; /* Adding fallback font */
    font-weight: 400;
    font-style: normal;
    background-color: #FEFED6;
    color: #333;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.heartButton {
    background-color: #fec0c0;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}
.heartButton:hover {
    background-color: #E05557;
}

/* Input and Textarea enhancements */
input[type="text"], textarea {
    background-color: #ffffff;
    border: 2px solid #e4e3cb;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    width: 70%;
    margin: 10px auto; /* Centered alignment */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
input[type="text"]:focus, textarea:focus {
    border-color: #E05557;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    outline: none;
}


/* Table and Quote Styles for Better Layout and Readability */
table, th, td {
    border: none;
    box-sizing: border-box;
}

table td a {
    color: #E05557; /* Theme color for links */
    text-decoration: none; /* Removing underline */
    font-weight: bold; /* Making links bold for emphasis */
    transition: color 0.3s; /* Smooth transition for hover effects */
}

table td a:hover {
    color: #fec0c0; /* Lighter color on hover for visual feedback */
}

.quote, .quote th, .quote td {
    background-color: transparent;
    text-align: left;
    color: #333;
}
.quote {
    background-color: #fff8f0;
    padding: 20px;
    margin: 20px auto;
    font-size: 18px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    width: 90%;
    border-radius: 8px;
}
.quote table {
    width: 100%;
    border-collapse: collapse;
}
.quote th, .quote td {
    padding: 12px 15px;
    border-bottom: 1px solid #e7e4e1;
}
.quote th {
    background-color: #f0e6d7;
    font-weight: bold;
}
.quote tbody tr:hover {
    background-color: #f4f4f4;
}

/* Footer and List Item Enhancements */
footer p {
    font-size: 1.2em;
    margin: 5px 0;
}
ul {
    padding-left: 18px;
}
li {
    line-height: 1.6;
    font-size: 20px;
}

#image-container {
    width: 100%;
    height: 100%;
    position: relative; /* Required for absolute positioning of images */
}

img {
    position: absolute;
    max-width: 15%; /* Limit image size */
    opacity: 0;
    transition: opacity 2s, transform 2s ease-in-out; 
}
